{% extends '_templates/base.njk' %}

{% block page_title %}Amaya Austin Photography{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Amaya Austin's Portfolio</h1>
  <p>Welcome to my  portfolio! I am eager to share and showcase my work with you. </p>
  <h2>Look At My Work</h2>
  <div class="row">
    {% for photography in photos.photography %}
      <div class="col">
        <img src="img/{{ photography.Image }}" alt="Photo from { photography.Date }" class="img-fluid">
        <h3><a href="photos/{{ photography.slug }}.html">{{ photography.Name }}</a></h3>
      </div>
    {% endfor %}
  <div>
  &nbsp;
  <h2>Videography</h2>
  <p>Take a look at my additional video work! </p>
  <hr>

  <div class="video-container">
    <iframe width="630" height="315" src="https://www.youtube.com/embed/Vw6BzSlYGWw?si=LKT7VFM-x4ar2p0d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="630" height="315" src="https://www.youtube.com/embed/M_FjcKDbkKY?si=KD9mq4hLz3SCMUAf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="630" height="315" src="https://www.youtube.com/embed/gRvM8eqvg88?si=qQJcLa6P1bOdcGI9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="630" height="315" src="https://www.youtube.com/embed/BsQvw_M0nZI?si=hZZiRv808-_F18wx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

{% endblock %}